[recording]
output_root = data
subject_id = subject_001
subject_height_cm = 175
subject_weight_kg = 70
punch_hand = right
session_id = session_001
default_baud_rate = 921600

[receiver.COM3]
group_id = 1
node.0 = left_wrist
node.1 = right_wrist

; Add another receiver by removing the leading semicolons below.
; [receiver.COM4]
; group_id = 2
; baud_rate = 921600
; node.0 = torso
